*{
    margin: 0;
    padding: 0;
}

*::-webkit-scrollbar{
    width: 10px;
    background: transparent;

}

*::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 5px;
    border-right: 10px;
}

body{
    width: 100vw;
    height: 100vh;
    background: #202329;
    overflow-x: hidden;
}

#header{
    width: 100%;
    height: 40rem;
    background: url(./img/625910.png);
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.2rem;
}

#containerSearch{
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
    flex-direction: column;
    color: white;
    font-size: 1.5rem;
    margin-top: 4rem;
}

#search{
    width: 70%;
    height: 30%;
    font-size: 22px;
    text-align: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
}

#containerSearch2{
    width: 100%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lupa{
    width: 4%;
    height: 34%;
    background: #3d3d3f;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    border-left: none;
    cursor: pointer;
}

#lupa img{
    width: 60%;
    height: 60%;
}

#main{
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card{
    width: 45%;
    height: 35%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.left{
    width: 45%;
    height: 100%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.right{
    width: 55%;
    height: 100%;
    background: #3d3d3f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: right 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;
    color: white;
    font-size: 1.3rem;
}

.text h2{
    margin-left: 1rem;
}

.text p{
    margin-left: 1rem;
}

.imgLeft{
    width: 100%;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.divStatus{
    width: 90%;
    height: 10%;
    background: transparent;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: row;
}

.colorStatus{
    width: 4%;
    height: 50%;
    border-radius: 100%;
    margin-left: 1rem;
    border: 1px solid black;
}

